<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <meta name= "description" content="<%= htmlWebpackPlugin.options.description %>"/>
  <title>CWDS-CARES</title>
</head>
<body>
<div id="app" role='main'></div>
</body>
</html>
